[SUBROUTINE]
icon = circular-array.png
name = C-Axis Array
type = c_array
help = Create a circular array of items by indexing the Lathe C-axis.
order = act h3 num ang fill items

[PARAM_ACT]
name = Active
icon = enable.png
type = bool
value = 1
tool_tip = Disabling will disable ALL items

[PARAM_H3]
type = sub-header
name = Patterning & Rotation

[PARAM_NUM]
name = Number of copies
type = int
minimum_value = 1
icon = copies.png
tool_tip = Number of copies around the C-axis
value = 6
header = h3

[PARAM_ANG]
name = Start Angle (C)
type = float
digits = 2
icon = angle.png
tool_tip = C-axis angle of the first item
value = 0
header = h3
suffix = &#176;

[PARAM_FILL]
name = Fill angle
type = float
digits = 2
icon = ext-angle.png
tool_tip = Angle covered by the array
value = 360
header = h3
suffix = &#176;

[PARAM_ITEMS]
name = Items
type = items
icon = items.png
tool_tip = Items to pattern around the C-axis

[BEFORE]
content =
    (begin #sub_name)
    o<#self_id_active> if [#param_act]
        #<fill#ID> = #param_fill
        o<#self_id_fill> if [[[#param_fill MOD 360] NE 0] AND [#param_num GT 1]]
            #<fill#ID> = [#param_fill * #param_num / [#param_num - 1]]
        o<#self_id_fill> endif
        
        #<c_angle#ID> = #param_ang
        #<c_step#ID> = [#<fill#ID> / #param_num]
        
        o<#self_id_loop> repeat [#param_num]
            (Index C-axis)
            G0 C#<c_angle#ID>
            
            (begin #sub_name items)

[AFTER]
content =
            (end #sub_name items)
            
            (angular increment)
            #<c_angle#ID>  = [#<c_angle#ID> + #<c_step#ID>]
        o<#self_id_loop> endrepeat
    o<#self_id_active> endif
    (end #sub_name)