[SUBROUTINE]
version = 1.14
icon = polyline.png
name = _("Lathe Polyline")
type = polyline
help = _("<b>Create a closed or open Polyline in XZ plane</b>")
order = act hx b_x e_x hz b_z e_z items

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_HX]
name = _("X axis (Diameter)")
type = sub-header

[PARAM_B_X]
name = _("Start Diameter")
header = hx
type = float
icon = x.png
value = 1.0
metric_value = 25.0

[PARAM_E_X]
name = _("Final Diameter")
header = hx
type = float
icon = x-end.png
value = 0.8
metric_value = 20.0

[PARAM_HZ]
name = _("Z axis")
type = sub-header

[PARAM_B_Z]
name = _("Start Z")
header = hz
type = float
icon = z.png
value = 0.0
metric_value = 0.0

[PARAM_ITEMS]
name = _("Items")
type = items
icon = items.png
tool_tip = _("Add profile items here")

[BEFORE]
content =
	(begin #sub_name)
	
	o<#self_id_active> if [#param_act AND [#<in_polyline> EQ 0]]
		(init and set origin: Z is mill-X, X is mill-Y in radius units)
		o<poly_add_item> CALL [-1] [#param_b_z] [#param_b_x / #<_diameter_mode>]
		
		#<in_polyline> = 1
		(begin #sub_name items)

[AFTER]
content =
		(end #sub_name items)
		#<in_polyline> = 0
		
		o<#self_id_end> if [#5000 GT 0]
			(Create and mill profile)
			o<poly_create> CALL
			
			o<poly_lathe_mill> CALL [#<_mill_data_start>] [#param_b_x / #<_diameter_mode>] [#param_e_x / #<_diameter_mode>]
			
		o<#self_id_end> endif
		
	o<#self_id_active> endif
	(end #sub_name)
