[SUBROUTINE]
version = 1.15
icon = polyline.png
name = _("Lathe Polyline")
type = polyline
help = _("<b>Create a closed or open Polyline in XZ plane</b>")
order = act hx b_x e_x hz b_z e_z h_opt mode items

[PARAM_ACT]
name = _("Active")
type = bool
icon = enable.png
value = 1

[PARAM_H_OPT]
name = _("Roughing")
type = sub-header

[PARAM_MODE]
name = _("Strategy")
header = h_opt
type = combo
options = _("Profile Shift (All LCNC versions)=0:G71 Contour Roughing (LCNC 2.9+)=71:G72 Face Roughing (LCNC 2.9+)=72")
value = 0
tool_tip = _("Select roughing strategy. G71/G72 require LinuxCNC 2.9+ or a configured remap.")

[PARAM_HX]
name = _("X axis (Diameter)")
type = sub-header

[PARAM_B_X]
name = _("Start Diameter")
header = hx
type = float
icon = x.png
value = 1.0
metric_value = 25.0

[PARAM_E_X]
name = _("Final Diameter")
header = hx
type = float
icon = x-end.png
value = 0.8
metric_value = 20.0

[PARAM_HZ]
name = _("Z axis")
type = sub-header

[PARAM_B_Z]
name = _("Start Z")
header = hz
type = float
icon = z.png
value = 0.0
metric_value = 0.0

[PARAM_ITEMS]
name = _("Items")
type = items
icon = items.png
tool_tip = _("Add profile items here")

[DEFINITIONS]
content =
	O#ID sub
		o<trace_lathe> CALL [#<_mill_data_start>] [0] [1]
	O#ID endsub

[BEFORE]
content =
	(begin #sub_name)
	
	o<#self_id_active> if [#param_act AND [#<in_polyline> EQ 0]]
		(init and set origin: Z is mill-X, X is mill-Y in radius units)
		o<poly_add_item> CALL [-1] [#param_b_z] [#param_b_x / #<_diameter_mode>]
		
		#<in_polyline> = 1
		(begin #sub_name items)

[AFTER]
content =
		(end #sub_name items)
		#<in_polyline> = 0
		
		o<#self_id_end> if [#5000 GT 0]
			(Create and mill profile)
			o<poly_create> CALL
			
			o<#self_id_mode> if [#param_mode EQ 0]
				(Profile Shift Roughing)
				o<poly_lathe_mill> CALL [#<_mill_data_start>] [#param_b_x / #<_diameter_mode>] [#param_e_x / #<_diameter_mode>]
			o<#self_id_mode> elseif [#param_mode EQ 71]
				(G71 Roughing)
				(Setup clearing distance)
				o<get_max> CALL [41] [2] [#5410 * 1.1] [0.5]
				#<_x_clear> = #41
				G0 X[#param_b_x + #<_x_clear>]
				G71.1 Q#ID D#<_rough_cut> I#<_finish_cut> R#<_x_clear>
				(Finishing pass)
				G70 Q#ID
			o<#self_id_mode> elseif [#param_mode EQ 72]
				(G72 Face Roughing)
				(Setup clearing distance)
				o<get_max> CALL [41] [2] [#5410 * 1.1] [0.5]
				#<_z_clear> = #41
				G0 Z[#param_b_z + #<_z_clear>]
				G72.1 Q#ID D#<_rough_cut> I#<_finish_cut> R#<_z_clear>
				(Finishing pass)
				G70 Q#ID
			o<#self_id_mode> endif
			
		o<#self_id_end> endif
		
	o<#self_id_active> endif
	(end #sub_name)
