[SUBROUTINE]
version = 1.14
icon = line-to.png
name = _("Line To")
type = poly-line-to
help = _("<b>Create a line to X, Z</b>&#10;Absolute or Relative")
order = act h1 type x z

[PARAM_ACT]
name = _("Active")
icon = enable.png
type = bool
value = 1

[PARAM_H1]
name = _("Coords")
type = sub-header

[PARAM_X]
name = _("X (Diameter)")
header = h1
type = float
icon = x.png
tool_tip = _("Destination X")
value = 1
metric_value = 25

[PARAM_Z]
name = _("Z")
header = h1
type = float
icon = z.png
tool_tip = _("Destination Z")
value = -1
metric_value = -25

[PARAM_TYPE]
name = _("Option")
header = h1
type = combo
options = _("Relative=0:Absolute=1:Z relative, X absolute=10:Z absolute, X relative=11")
icon = line-rel.png
tool_tip = _("Select Relative or Absolute")
value = 0

[CALL]
content =
        (begin #sub_name)
        o<#self_id_active> if [#param_act AND #<in_polyline>]
                (Map Lathe Z -> Mill X, Lathe X -> Mill Y)
                #<z_val> = [#param_z]
                #<x_val> = [#param_x / #<_diameter_mode>]
                
                o<#self_id_type> if [#param_type EQ 10]
                   (Z relative, X absolute)
                   o<poly_add_item> CALL [10] [#<z_val>] [#<x_val>] [1] [0] [0] [0] [1]
                o<#self_id_type> elseif [#param_type EQ 11]
                   (Z absolute, X relative)
                   o<poly_add_item> CALL [11] [#<z_val>] [#<x_val>] [1] [0] [0] [0] [1]
                o<#self_id_type> else
                   o<poly_add_item> CALL [#param_type] [#<z_val>] [#<x_val>] [1] [0] [0] [0] [1]
                o<#self_id_type> endif

        o<#self_id_active> endif
        (end #sub_name)
