[SUBROUTINE]
icon = linear-array.png
name = Z-Axis Line Array
type = z_array
help = Create a linear array of items by stepping along the Z-axis.
order = act h3 num z_start z_step items

[PARAM_ACT]
name = Active
icon = enable.png
type = bool
value = 1
tool_tip = Disabling will disable ALL items

[PARAM_H3]
type = sub-header
name = Patterning & Spacing

[PARAM_NUM]
name = Number of copies
type = int
minimum_value = 1
icon = copies.png
tool_tip = Number of copies along the Z-axis
value = 4
header = h3

[PARAM_Z_START]
name = Z Start
type = float
digits = 4
icon = z.png
tool_tip = Z-axis coordinate of the first item
value = 0
header = h3

[PARAM_Z_STEP]
name = Z Step
type = float
digits = 4
icon = dz.png
tool_tip = Distance to step in Z for each copy
value = -1.0
header = h3

[PARAM_ITEMS]
name = Items
type = items
icon = items.png
tool_tip = Items to pattern along the Z-axis

[BEFORE]
content =
    (begin #sub_name)
    o<#self_id_active> if [#param_act]
        #<z_pos#ID> = #param_z_start
        #<z_step#ID> = #param_z_step
        o<#self_id_loop> repeat [#param_num]
            (Shift origin for Z-axis array)
            G10 L2 P0 Z#<z_pos#ID>
            (begin #sub_name items)

[AFTER]
content =
            (end #sub_name items)
            (linear increment)
            #<z_pos#ID>  = [#<z_pos#ID> + #<z_step#ID>]
        o<#self_id_loop> endrepeat
        (Restore original origin)
        G10 L2 P0 Z0
    o<#self_id_active> endif
    (end #sub_name)